
<div class="auth-container">
    <mat-card class="auth-card">
        <h2 class="text-center">Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="pat@example.com" required formControlName="email">
              <mat-icon matSuffix *ngIf="loginForm.get('email').valid">done</mat-icon>
              <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <button mat-stroked-button color="primary" type="submit" [disabled]="loginForm.invalid" *ngIf="!loading">Login</button>

            <button mat-stroked-button color="primary" type="button" [disabled]="true" *ngIf="loading">Loading...</button>
            <br>
            <span class="text-center">Do you want to have an account?</span>
            <br>
            <a routerLink="/register" class="text-center">Register</a>
    
          </form>

    </mat-card>
    
</div>

