
<mat-card>

    <mat-card-header>
        <img mat-card-avatar [src]="employee?.image ? employee.image : 'assets/images/avatar.png'" [alt]="employee?.name" height="40" width="40" class="pointer br-50">
        <mat-card-title>{{employee?.name}}</mat-card-title>
        <mat-card-subtitle>{{department?.name}}</mat-card-subtitle>

        <button mat-icon-button class="icon-corner" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="bookmarkPublication()" *ngIf="isBookmarked(); else ngIsNotBookmarkedTemplate"> <mat-icon>bookmark</mat-icon> Bookmark </button>
            <ng-template #ngIsNotBookmarkedTemplate>
                <button mat-menu-item (click)="unBookmarkPublication()"> <mat-icon>bookmark_border</mat-icon> Unbookmark </button>
            </ng-template>
            <button mat-menu-item *ngIf="user?.employee === publication.employee" (click)="deletePublication()"> <mat-icon>delete</mat-icon> Delete </button>
        </mat-menu>

    </mat-card-header>

    <mat-card-content>
        {{publication?.info}}
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex-box flex-row">
        <span class="spacer"></span>
        <span class="mrl-1">{{publication?.likes?.length}}</span>
        <button mat-icon-button (click)="voteUp()" *ngIf="!like_aux; else ngIsVotedTemplate"><mat-icon>thumb_up_alt</mat-icon></button>
        <ng-template #ngIsVotedTemplate>
            <button mat-icon-button (click)="unVotePublication()" class="blue"><mat-icon>thumb_up_alt</mat-icon></button>
        </ng-template>
    </mat-card-actions>

</mat-card>