<!--<mat-list-item role="listitem">
    {{employee.name}}
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editEmployee(employee)"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-menu-item (click)="deleteEmployee(employee)"><mat-icon>delete</mat-icon>Delete</button>
    </mat-menu>
</mat-list-item>-->

<mat-card class="mb-05">
    <mat-card-header>
        <div mat-card-avatar><mat-icon>person</mat-icon></div>
        <mat-card-title>{{name}} {{last_name}} ({{age}})</mat-card-title>
        <mat-card-subtitle>{{department.name}} - since {{date_discharge | date}}</mat-card-subtitle>
    </mat-card-header>

    <button mat-icon-button class="icon-corner" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editEmployee(employee)"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-menu-item (click)="deleteEmployee(employee)"><mat-icon>delete</mat-icon>Delete</button>
    </mat-menu>
</mat-card>

